/* ------------------- Imported Fonts ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

/*          Fonts
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Questrial', sans-serif;
*/

.margin-to-padding {
    margin: 0;
    padding: 20px;
}

.col .row {
    margin-right: 0;
    padding-right: 0;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

/* -------------------Header------------------------- */

.nav-wrapper {
    font-family: 'IBM Plex Sans', sans-serif;
}

.inline-block {
	display: inline-block;
	position: relative;
	height: 50px;
	width: 100px;
}

.inline {
	position: absolute;
	top: 25px;
	height: 4px;
    background-color: #fff;
}

#left-parm {
	transform: rotate(30deg);
	left: 0;
	z-index: 2;
	width: 50px;
}

#right-parm {
	transform: rotate(-30deg);
	right: 0;
	z-index: 3;
	width: 50px;
}

#turn-page {
	height: 2px;
	width: 40px;
	transform: rotate(45deg);
	right: 46px;
}

#hover-logo:hover #turn-page {
	transition-duration: 1s;
	transform: rotate(150deg);
	right: 10px;
}

/* ------------------- Homepage, Content and general styling------------------------- */

body {
    position: relative;
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/rey-seven-nm-mZ4Cs2I-unsplash_397351.jpg);

}

.no-padding {
    padding: 0;
}

.add-padding {
    padding: 10px;
}

.top-space {
    padding-top: 60px;
}

.bottom-space {
    padding-bottom: 50px;
}

.page-heading {
    background-color: #1010106b;
    box-shadow: 0px 15px 50px inset rgb(2 2 2);
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/rey-seven-nm-mZ4Cs2I-unsplash_397351.jpg);
    background-size: cover;
    background-position: fixed;
    padding: 30px;
    margin: 0;
}

h3.main-heading-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    margin-top: 75px;
    color: white;
    font-weight: 800;
}

.promt-font {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.duo-buttons {
    width: 30vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sign-up-par {
    padding: 15px 0;
}

.add-book-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.add-book-link {
    color: #000;
    font-size: 50px;
}

.review-card {
    position: relative;
}

.sub-book-edit-buttons {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.delete-book-button,
.edit-book-button {
    padding: 1px 7px;
    z-index: 9;
}

.book-hover-link {
    z-index: 5;
}

a .card-content:hover {
    color: #bbbbbb;
}

/* ---------------------Register --------------------*/

.register-row {
    margin-bottom: 0;
}

/* --------------------- Profile --------------------*/

.profile-content {
    margin-bottom: 0;
}

.image-container {
    width: 150px;
}

.sub-about-heading {
    margin-top: 0;
    padding: 20px;
}

.image-container i {
    font-size: 80px;
    margin-top: 30px;
}

.profile-info-par {
    margin-top: 50px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
}

.profile-information {
    float: right;
    font-style: italic;
    font-weight: 300;
}

.edit-button {
    width: 15vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.book-sm-heading {
    margin-left: 20px;
}

.user-card-style,
.book-card-style,
.review-card-style  {
    border-radius: 7px;
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
}

.user-card-style {
    height: 160px;
}

.user-card-style:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    transform: translate(2px,-5px);
}

.book-card-style {
    min-height: 200px;
}

.book-card-style:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    transform: translate(2px,-5px);
}

.review-card-style {
    background-color: #bddcbc;
}

.small-par {
    font-size: 11px;
}

.review-par {
    padding-top: 15px;
    font-size: 14px;
}

/* ---------------------Startpage / Show All --------------------*/

.user-list-icon {
    height: 100px;
    overflow: hidden;
}

.review-list-image {
    height: 100%;
}

.review-list-image img {
    margin: 10px;
    width: 80px;
}

.max-height {
    max-height: 180px;
}

.user-list-icon i {
    font-size: 60px;
    position: absolute;
    bottom: 0;
}

.book-review-prev {
    padding-top: 20px;
}

.all-cards {
    width: 90%;
    margin-left: 5%;
}

.card-content {
    box-sizing: border-box;
    overflow: hidden;
}

.card-content h5 {
    margin-top: 5px;
}

.click-rev {
    font-size: 10px;
}

.book-desc-par {
    font-size: 12px;
}

/* --------------------Book info styling------------------*/

#book-container-info {
    margin-top: 100px;
    padding: 20px;
}

/* --------------------JavaScript Css + Icon list------------------*/

.no-display {
    display: none;
}

.full-display {
    display: block;
}

select {
  font-family: 'FontAwesome', 'Second Font name';
}

/* -------------------- Flash Messages ------------------*/

.flashes {
    margin: 0;
    height: 50px;
    position: absolute;
    width: 100%;
}

.flash-message-text {
    margin-top: 0;
    height: 100%;
    background: #abb298a1;
}

/* --------------------- Photo --------------------*/

.info-photo-cover {
    width: 100%;
}

/* --------------------- Media --------------------*/

@media screen and (max-width: 1000px) {
    
    .card-content h5 {
        font-size: 17px;
    }

}

@media screen and (max-width: 770px) {
    .duo-buttons {
        width: 60vw;
    }

    .card-content p {
        font-size: 12px;
    }

    .push-review {
        margin-top: 50px;
    }

    .book-card-style {
        height: 150px;
    }

    .user-card-style {
        height: 130px;
    }

    .user-list-icon i {
        font-size: 40px;
    }

}