/* ------------------- Imported Fonts ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Questrial', sans-serif;
*/
/* -------------------Header------------------------- */

.nav-wrapper {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* ------------------- Content ------------------------- */

body {
    position: relative;
}

.no-padding {
    padding: 0;
}

.add-padding {
    padding: 10px;
}

.top-space {
    margin-top: 60px;
}

.add-book-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.add-book-link {
    color: #000;
    font-size: 50px;
}

/*-----------------Home Page (and more general styling) -----------------*/

h3.main-heading-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    margin-top: 50px;
}

.promt-font {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.duo-buttons {
    width: 30vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sign-up-par {
    padding: 15px 0;
}

/* ---------------------Register --------------------*/

.register-row {
    margin-bottom: 0;
}

/* --------------------- Profile --------------------*/

.image-container {
    width: 150px;
}

.sub-about-heading {
    margin-top: 0;
    padding: 20px;
}

.image-container i {
    font-size: 80px;
    margin-top: 30px;
}

.profile-info-par {
    margin-top: 50px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
}

.profile-information {
    float: right;
    font-style: italic;
    font-weight: 300;
}

.edit-button {
    width: 15vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.book-sm-heading {
    margin-left: 20px;
}

.book-card-style {
    border-radius: 7px;
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12)
}

.book-card-style:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    transform: translate(2px,-5px);
}

/* ---------------------Startpage --------------------*/

.user-list-icon {
    height: 100px;
    overflow: hidden;
}

.review-list-image {
    height: 100%;
}

.review-list-image img {
    margin: 10px;
    width: 80px;
    max-height: 200px;
}

.user-list-icon i {
    font-size: 60px;
    position: absolute;
    bottom: 0;
}

.book-review-prev {
    padding-top: 20px;
}

/* --------------------JavaScript------------------*/

.no-display {
    display: none;
}

.full-display {
    display: block;
}

/* ---------------------Media --------------------*/

@media screen and (max-width: 760px) {
    .duo-buttons {
        width: 50vw;
    }
}