/* ------------------- Imported Fonts ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,300&family=Questrial&display=swap');
/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Questrial', sans-serif;
*/
/* -------------------Header------------------------- */

.nav-wrapper {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* ------------------- Content ------------------------- */

body {
    position: relative;
}

.no-padding {
    padding: 0;
}

.top-space {
    margin-top: 60px;
}

.add-book-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-book-link {
    color: #000;
    font-size: 50px;
}

/*-----------------Home Page (and more general styling) -----------------*/

h3.main-heading-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    margin-top: 50px;
}

.duo-buttons {
    width: 30vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sign-up-par {
    padding: 15px 0;
}

/* ---------------------Register --------------------*/

.register-row {
    margin-bottom: 0;
}

/* --------------------- Profile --------------------*/

.image-container {
    width: 150px;
}

.profile-image {
    border-radius: 10px;
}

.edit-button {
    width: 15vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* ---------------------Startpage --------------------*/

.review-list-image {
    height: 100px;
    overflow: hidden;
}

.review-list-image img {
    height: 150px;
    margin-left: 0;
    margin-right: auto;
}

/* ---------------------Media --------------------*/

@media screen and (max-width: 760px) {
    .duo-buttons {
        width: 50vw;
    }
}