{% extends 'base.html' %}
{% block content %}

    <div class="row center-align">
        <h3 class="main-heading-text">Add a New Book</h3>
    </div>

	<div class="row">
	
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_book') }}">
        <div class="card-panel  lime lighten-4">
			

            <!--Book Title--> 
			<div class="row register-row">
				<div class="input-field col s12">
					<input id="book_title" name="book_title" type="text" class="validate" required>
					<label for="book_title">Book Title</label>
				</div>
			</div>

            <!--Name Fields--> 
            <div class="row register-row">
                <!--Author First Name--> 
				<div class="input-field col s6">
					<input id="author_first_name" name="author_first_name" type="text" class="validate" required>
					<label for="author_first_name">Author's First Name</label>
				</div>

                <!--Author Last Name--> 
				<div class="input-field col s6">
					<input id="author_last_name" name="author_last_name" type="text" class="validate" required>
					<label for="author_last_name">Author's Last Name</label>
				</div>
			</div>

            <!--Genre--> 
			<div class="row register-row">
				<div class="input-field col s12">
					<select id="genre" name="genre">
                        <option value="" disabled selected>Book Genre</option>
                    {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor %}
			    </select>
				<label for="genre">Book Genre</label>
				</div>
			</div>

            <div class="row">
				<div id="upload-url-field" class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="If you want to add and image, paste an image url here!">
					<input id="book_image" name="book_image" class="file-path validate" type="text">
			        <label for="book_image">Upload an image url</label>
				</div>
			</div>

            <!--Read Checkbox-->
            <p class="sign-up-par">
				
                <label for="read-check">
                    <input id="read-check" name="read-check" type="checkbox" class="filled-in light-green darken-2"/>
                    <span>Finished reading?</span>
				</label>
                
            </p>

            
            <div class="fin-read no-display">
			<div class="input-field col s12">
				<select id="rating-drop" name="rating-drop">
                  <option value="null" disabled selected>None</option>
                    {% for rating in ratings %}
                        <option value="{{ rating.book_rating }}">{{ rating.book_rating}}</option>
                    {% endfor %}
			    </select>
				<label for="rating-drop">Book Rating</label>
			</div>
            
			<div class="row">
				<div class="input-field col s12">
					<textarea id="book_review" name="book_review" class="materialize-textarea"></textarea>
					<label for="book_review">Book Review</label>
				</div>
			</div>
            </div>
           
            <!--Submit Button--> 
            <div class="row center-align">
                <button type="submit" class="btn-large light-green darken-2 duo-buttons z-depth-3">Add Book</button>
            </div>
        </div>
		</form>
	
	</div>


{% endblock %}