{% extends 'base.html' %}
{% block content %}

    <!--Page Heading-->
    <div class="page-heading row center-align">
        <h3 class="col s12 main-heading-text">All Books</h3>
    </div>

	<div class="row grey lighten-5 max-height margin-to-padding blue-grey lighten-2">
		<!--Review Cards-->
		<div class="col s12 no-padding grey lighten-2">

            
            <form name="bookSorting" action="{{ url_for('sort_books') }}" method="post" class="col s12">'
                <div class="row valign-wrapper center-align">

                    <div class="input-field col s12 m6 offset-m3">
                        <select id="book_sorting" name="book_sorting" onchange="updateSearch()">
                                <option value="" minlength="5" disabled selected>Sort By</option>
                                <option value="book_title">Book Title</option>
                                <option value="author_first_name">Authors First Name</option>
                                <option value="author_last_name">Authors Last Name</option>
                                <option value="genre">Genres</option>
                                <option value="rating">Rating</option>
                        </select>
                        <label for="book_sorting">Sort by</label>
                    </div>
                    
                </div>
            </form>
			
        </div>
    </div>
            <div class="row blue-grey lighten-5 margin-to-padding">
			{% if books|length > 0 %}
			<ul>
				{% for book in books %}
                   
				<li>
						<div class="col s10 m4 offset-s1 no-padding">
							<div class="all-cards card horizontal book-card-style blue-grey-text text-darken-4">
                            
                                <!--Book Image-->
								<div class="card-image col s4 m4 review-list-image no-padding">
									<img src="{{book.book_image}}" class="max-height" alt="">
								</div>
			        
									<div class="card-stacked col s8 m8 no-padding">
                                        <!--If the book was added by the current user the editing buttons will be displayed-->
                                        {% if session.user == book.added_by %}
                                            <div class="sub-book-edit-buttons no-display">
                                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i class="far fa-edit"></i></a>
                                                <a href="#modal{{book._id}}" class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        {% endif %}
                                        <!--Link that wraps card text-->
                                        <a href="{{ url_for('book_info', book_id=book._id) }}" class="blue-grey-text text-darken-4">
										<div class="card-content max-height">
											<h5>{{ book.book_title.capitalize() }}</h5>
											<p class="book-desc-par">{{ book.author_first_name.capitalize() }} {{ book.author_last_name.capitalize() }} <br>
                                                Added By: {{ book.added_by }} <br>
                                                Genre: {{ book.genre.capitalize() }}
											
                                            <!--Changes the number of stars displayed depending on the rating-->
                                                {% if book.rating == 1 %}
                                                    <div>
                                                        <i class="fas fa-star"></i>
                                                        {% if book.review %}
                                                            <span class="click-rev">Click to show review</span>
                                                        {% endif %}
                                                    </div>
                                                {% elif book.rating == 2 %}
                                                    <div>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        {% if book.review %}
                                                            <span class="click-rev">Click to show review</span>
                                                        {% endif %}
                                                    </div>
                                                {% elif book.rating == 3 %}
                                                    <div>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        {% if book.review %}
                                                            <span class="click-rev">Click to show review</span>
                                                        {% endif %}
                                                    </div>
                                                {% elif book.rating == 4 %}
                                                    <div>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        {% if book.review %}
                                                            <span class="click-rev">Click to show review</span>
                                                        {% endif %}
                                                    </div>
                                                {% elif book.rating == 5 %}
                                                    <div>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        {% if book.review %}
                                                            <span class="click-rev">Click to show review</span>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                                </p>
										</div>
                                        </a>
									</div>
								</div>
							</div>
                        <!-- Confirm Delete Modal -->
                        <div id="modal{{book._id}}" class="modal">
                            <div class="modal-content">
                                <h4>Delete Book</h4>
                                <p>Are you sure you want to delete {{ book.book_title }}?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    
				</li>
                    
				{% endfor %}
			</ul>
			{% else %}
			<h5 class="center-align">No Books Added</h5>
			{% endif %}
            </div>
            <!--Review More-->
			<div class="row center-align top-space blue-grey lighten-5 margin-to-padding">
				<a href="#"
					class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>Back to top</i></a>
			</div>

            <script>
                function updateSearch() {
                    var searchPar = $('#book_sorting').val();
                    if (searchPar.length > 0){
                        document.bookSorting.submit();
                    }
                }
            </script>

{% endblock %}