{% extends 'base.html' %}
{% block content %}


	<div class="row">
        <div id="book-container-info" class="col s10 offset-s1 m8 offset-m2 card-panel lime lighten-4">
            <div class="row">
                
                <div class="col s6 m3 image-float">
                        <img src="{{ book_id.book_image  }}" alt="" class="info-photo-cover">
                </div>

                <div class="col s6 m9">
                    <!--Book Title--> 
                    <div class="col s12">
                        <h4>{{ book_id.book_title.title() }}</h4>
                    </div>

                    <!--Name Fields-->  
                    <div class="col s6">
                        <h5>
                        {{ book_id.author_first_name.title() }}
                    
                        {{ book_id.author_last_name.title() }}
                        </h5>
                    </div>

                    <!--Genre--> 
                    <div class="col s12">
                        <h6>
                        <strong>Book Genre:</strong>  {{ book_id.genre.title() }}
                        </h6>
                    </div>
 
            </div>	
	    </div>
        {% if book_id.review|length > 0 %}
        <div class="row">
            <div class="col s12">
                {% if book_id.review_title %}
                    <h6>{{ book_id.review_title }}</h6>
                    <p><strong>Review by {{ book_id.added_by }}</strong></p>
                {% else %}
                    <h6>Review by {{ book_id.added_by }}</h6>
                {% endif %}
                <p>
                    {% if book_id.rating == 1 %}
                        <div>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif book_id.rating == 2 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif book_id.rating == 3 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif book_id.rating == 4 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif book_id.rating == 5 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% endif %}
                {{ book_id.review }}</p>
            </div>
            </div>
        {% endif %}

        {% for review in reviews %}
        {% if loop.index % 2 != 0 %}
        <div class="row lime lighten-5">
            <div class="col s12">
                <h6>"{{ review.review_title }}"</h6>
                <p><strong> Review by {{ review.added_by }}</strong></p>
                <p>
                    {% if review.rating == 1 %}
                        <div>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 2 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 3 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 4 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 5 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% endif %}
                {{ review.review }}</p>
            </div>
        </div>
        {% else %}
            <div class="row">
            <div class="col s12">
                <h6>Review by {{ review.added_by }}</h6>
                <p>
                    {% if review.rating == 1 %}
                        <div>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 2 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 3 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 4 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% elif review.rating == 5 %}
                        <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    {% endif %}
                {{ review.review }}</p>
            </div>
            </div>
        {% endif %}
        {% endfor %}
	</div>

           
    <!--Submit Button--> 
    <div class="row center-align">
        <a href="{{ url_for('add_review', book_id=book_id._id) }}" type="submit" class="btn-large light-green darken-2 duo-buttons z-depth-3">Add Review</a>
    </div>


{% endblock %}