{% extends 'base.html' %}
{% block content %}

    <div class="row center-align">
        <h3 class="main-heading-text">Edit your profile information</h3>
    </div>

	<div class="row">
	
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_profile', username=session.user) }}">
        <div class="card-panel lime lighten-4">

			
            <div class="row register-row">
                <!--First Name--> 
				<div class="input-field col s6 m4">
					<input id="first_name" name="first_name" minlength="2" maxlength="30" value="{{ username.first_name.capitalize() }}" type="text" class="validate" required>
					<label for="first_name">First Name</label>
				</div>

				<!--Last Name-->
				<div class="input-field col s6 m4">
					<input id="last_name" name="last_name" minlength="2" maxlength="30" value="{{ username.last_name.capitalize() }}" type="text" class="class="validate" required>
					<label for="last_name">Last Name</label>
				</div>
				
                <!--Icon Changer-->
				<div class="input-field col s8 offset-s2 m4">
					<select class="icons validate" required id="user_icon" name="user_icon">
                            <option value="" disabled>Choose your option</option>
                        {% for icon in icons %}
                            {% if icon.icon_link == username.user_icon %}
                                <option value="{{ icon.icon_link }}" selected>{{ icon.icon_name.capitalize() }}</option>
                        {% else %}
                                <option value="{{ icon.icon_link }}">{{ icon.icon_name.capitalize() }}</option>
                            {% endif %}
                        {% endfor %}
				    </select>
					<label for="user_icon">Select a profile icon</label>
				</div>
			</div>

            <div class="row register-row">
                <!--Age Field--> 
                <div class="input-field col s6">
                    <input id="user_age" name="user_age" pattern="\d*" value="{{ username.user_age }}" type="text" class="validate" required>
					<label for="user_age">Age</label>
                </div>

                <!--Gender Field--> 

                <div class="input-field col s6">
                    <select id="user_gender" name="user_gender" class="validate" required>
                            <option value="" minlength="5" selected disabled>Select Gender</option>
                        {% for gender in genders %}
                            {% if gender.gender_name|lower == username.user_gender|lower %}
                                <option value="{{ gender.gender_name }}" selected>{{ gender.gender_name.capitalize() }}</option>
                        {% else %}
                                <option value="{{ gender.gender_name }}">{{ gender.gender_name.capitalize() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                        <label for="user_gender">Gender</label>
                </div>
            </div>

            <!--Favorite Book--> 
			<div class="row register-row">
				<div class="input-field col s6">
                    <select id="fav_book" name="fav_book" minlength="5" maxlength="30" class="validate" required>
                            <option value=" " selected>None</option>
                        {% for book in books %}
                            {% if book.book_title|lower == username.fav_book|lower %}
                                <option value="{{ book.book_title }}" selected>{{ book.book_title.capitalize() }}</option>
                        {% else %}
                                <option value="{{ book.book_title }}">{{ book.book_title.capitalize() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                        <label for="fav_book">Favorite Book</label>
                </div>
			
                <!--Favorite Author--> 
                <div class="input-field col s6">
                    <select id="fav_author" name="fav_author" minlength="5" maxlength="30" class="validate" required>
                            <option value=" " selected>None</option>
                        {% for author in authors %}
                            {% if author.author_name|lower == username.fav_author|lower %}
                                <option value="{{ author.author_name }}" selected>{{ author.author_name.title() }}</option>
                            {% else %}
                                <option value="{{ author.author_name }}">{{ author.author_name.title() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                        <label for="fav_author">Favorite Author</label>
                </div>
			
            </div>


            <!--Favorite Genre--> 
			<div class="row register-row">
				<div class="input-field col s12">
					<select id="fav_genre" name="fav_genre" minlength="5" maxlength="30" class="validate" required>
			                <option value=" " selected>None</option>
			            {% for genre in genres %}
			                {% if genre.genre_name|lower == username.fav_genre|lower %}
			                    <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name.capitalize() }}</option>
			                {% else %}
			                    <option value="{{ genre.genre_name }}">{{ genre.genre_name.capitalize() }}</option>
			                {% endif %}
			            {% endfor %}
					</select>
					<label for="fav_genre">Favorite Genre</label>
				</div>
			</div>

            <!--Submit Button--> 
            <div class="row center-align">
                <a href="{{ url_for('profile', username=session.user) }}" type="submit" class="btn-large orange darken-4 duo-buttons z-depth-3">Cancel</a>
                <button type="submit" class="btn-large light-green darken-2 duo-buttons z-depth-3">Update Info</button>
            </div>
        </div>
		</form>
	
	</div>


{% endblock %}