{% extends 'base.html' %}
{% block content %}

    <div class="row center-align">
        <h3 class="main-heading-text">Edit Book</h3>
    </div>

	<div class="row">
	
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_book', book_id=books._id) }}">
        <div class="card-panel  lime lighten-4">
			

            <!--Book Title--> 
			<div class="row register-row">
				<div class="input-field col s12">
					<input id="book_title" name="book_title" value="{{ books.book_title.title() }}" type="text" class="validate" required>
					<label for="book_title">Book Title</label>
				</div>
			</div>

            <!--Name Fields--> 
            <div class="row register-row">
                <!--Author First Name--> 
				<div class="input-field col s6">
					<input id="author_first_name" name="author_first_name" value="{{ books.author_first_name.title() }}" type="text" class="validate" required>
					<label for="author_first_name">Author's First Name</label>
				</div>

                <!--Author Last Name--> 
				<div class="input-field col s6">
					<input id="author_last_name" name="author_last_name" value="{{ books.author_last_name.title() }}" type="text" class="validate" required>
					<label for="author_last_name">Author's Last Name</label>
				</div>
			</div>

            <!--Genre--> 
			<div class="row register-row">
				<div class="input-field col s12">
					<select id="genre" name="genre">
                        <option value="" disabled>Book Genre</option>
                        {% for genre in genres %}
                            {% if genre.genre_name|lower == books.genre|lower %}
                                <option value="{{ genre.genre_name }}" selected>{{ genre.genre_name }}</option>
                            {% else %}
                                <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                            {% endif %}
                        {% endfor %}
			    </select>
				<label for="genre">Book Genre</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="book_image" name="book_image" value="{{ books.book_image  }}" class="file-path validate" type="text">
			        <label for="book_image">Upload an image url</label>
				</div>
			</div>

            <!--Read Checkbox-->
            <p class="sign-up-par">
				
                <label for="read-check">
                    {% if books.read_book == 'on' %}
                        <input id="read-check" name="read-check" value="{{ books.read_book  }}" type="checkbox" checked class="filled-in light-green darken-2"/>
                    {% else %}
                        <input id="read-check" name="read-check" value="{{ books.read_book  }}" type="checkbox" class="filled-in light-green darken-2"/>
                    {% endif %}
                    <span>Finished reading?</span>
				</label>
                
            </p>

            <div class="input-field col s12">
				<select id="rating-drop" name="rating-drop">
                  <option value="" disabled selected>None</option>
                    {% for rating in ratings %}
                        {% if books.rating == rating.book_rating %}
                            <option value="{{ rating.book_rating }}" selected>{{ rating.book_rating}}</option>
                        {% else %}
                            <option value="{{ rating.book_rating }}">{{ rating.book_rating}}</option>
                        {% endif %}
                    {% endfor %}
			    </select>
				<label for="rating-drop">Book Rating</label>
			</div>
            
			<div class="row">
				<div class="input-field col s12">
					<textarea id="book_review" name="book_review" class="materialize-textarea">{{ books.review }}</textarea>
					<label for="book_review">Book Review</label>
				</div>
			</div>
           
            <!--Submit Button--> 
            <div class="row center-align">
                <a href="{{ url_for('profile', username=session.user) }}" type="submit" class="btn-large orange darken-4 duo-buttons z-depth-3">Cancel</a>
                <button type="submit" class="btn-large light-green darken-2 duo-buttons z-depth-3">Submit Changes</button>
            </div>
        </div>
		</form>
	
	</div>


{% endblock %}