{% extends 'base.html' %}
{% block content %}

    <div class="row center-align">
        <h3 class="main-heading-text">Edit Review</h3>
    </div>

	<div class="row">
	
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_review', review_id=review_id._id) }}">
        <div class="card-panel  lime lighten-4">
			
        <div class="row">
                
                <div class="col s6 m3 image-float">
                        <img src="{{ book.book_image  }}" alt="" class="info-photo-cover">
                </div>

                <div class="col s6 m9">
                    <!--Book Title--> 
                    <div class="col s12">
                        <h4>{{ book.book_title.title()  }}</h4>
                    </div>

                    <!--Name Fields-->  
                    <div class="col s6">
                        <h5>
                        {{ book.author_first_name.title()  }}
                    
                        {{ book.author_last_name.title()  }}
                        </h5>
                    </div>

                    <!--Genre--> 
                    <div class="col s12">
                        <h6>
                        <strong>Book Genre:</strong> {{ book.genre.title()  }}
                        </h6>
                    </div>
                </div>
            <div class="row">
				<div class="input-field col s12">
					<input id="review_title" name="review_title" value="{{ review_id.review_title }}" type="text" required>
                    <label for="review_title">Review Title</label>
				</div>
			</div>

			<div class="input-field col s12">
				<select id="rating" name="rating" required>
                  <option value="" disabled selected>None </option>
                    {% for rating in ratings %}
                        {% if review_id.rating == rating.book_rating %}
                            <option value="{{ rating.book_rating }}" selected>{{ rating.book_rating }}</option>
                        {% else %}
                            <option value="{{ rating.book_rating }}">{{ rating.book_rating }}</option>
                        {% endif %}
                    {% endfor %}
			    </select>
				<label for="rating">Book Rating</label>
			</div>
            
			<div class="row">
				<div class="input-field col s12">
                    <input id="review" name="review" value="{{ review_id.review }}" type="text" required>
                    <label for="review">Review</label>
				</div>
            </div>
        
            </div>
           
            <!--Submit Button--> 
            <div class="row center-align">
                <a href="{{ url_for('book_info', book_id=book._id) }}" type="submit" class="btn-large orange darken-4 duo-buttons z-depth-3">Cancel</a>
                <button type="submit" class="btn-large light-green darken-2 duo-buttons z-depth-3">Submit Review</button>
            </div>
        </div>
		</form>
	
	</div>


{% endblock %}