{% extends 'base.html' %}
{% block content %}

    <!--Page Main Heading-->
    <div class="row center-align">
        <h3 class="main-heading-text">Log in to your account</h3>
    </div>

	<div class="row">
	
		<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel  lime lighten-4">

            <!--Username Field--> 
			<div class="row">
				<div class="input-field col s12">
					<input id="username" name="username" type="text" class="validate" required>
					<label for="username">Username</label>
				</div>
			</div>

            <!--Password Field--> 
			<div class="row">
				<div class="input-field col s12">
					<input id="password" name="password" type="password" class="validate" required>
					<label for="password">Password</label>
				</div>
			</div>

            <p class="center-align sign-up-par">Don't have an account?<a href="{{ url_for('register') }}"> Click here to register</a></p>

            <!--Submit Button--> 
            <div class="row center-align">
                <button type="submit" class="btn-large light-green darken-2 duo-buttons z-depth-3">Log In</button>
            </div>
        </div>
		</form>
	
	</div>


{% endblock %}