{% extends 'base.html' %}
{% block content %}

    <!--Page Heading-->
    <div class="page-heading row center-align">
        <h3 class="main-heading-text">
        {{ username.first_name.capitalize() }}'s Profile
        </h3>
    </div>

    <div class="row lime lighten-4 profile-content">

            <!--About Me Section-->
            <div class="col s12 m4 lime lighten-4 no-padding">

                <!--About Me Heading-->
                <h4 class="center-align promt-font light-green lighten-4 sub-about-heading">About Me</h4>

                <!--Profile Picture-->
                <div class="image-container col s12 center-align">
                    <i class="{{ username.user_icon }}"></i>
                </div>

                <!--Profile Information-->
                
                <div class="row">
                <div class="col s10 l8 offset-s1 offset-l2">
                    <p class="profile-info-par">
                        Full Name: <span class="profile-information">{{ username.first_name.title() }} {{ username.last_name.title() }}</span><br>
                        Age: <span class="profile-information">{{ username.user_age }}</span><br>
                        Username: <span class="profile-information">{{ username.username }}</span><br>
                        Gender: <span class="profile-information">{{ username.user_gender.capitalize() }}</span><br>
                        Favorite Book: <span class="profile-information">{{ username.fav_book.title() }}</span><br>
                        Favorite Author: <span class="profile-information">{{ username.fav_author.title() }}</span><br>
                        Favorite Genre: <span class="profile-information">{{ username.fav_genre.capitalize() }}</span><br>
                    </p>
                </div>
                </div>
                
                
                {% if session.user|lower == username.username|lower %}
                <!--Edit Button for About Me-->
				<div class="row center-align">
					<a href="{{ url_for('edit_profile',  username=session.user) }}" class="btn-large edit-buttons light-green darken-2 z-depth-3"><i>Edit Info</i></a>
				</div>
                {% endif %}
            </div>
        
            <!--My Books Section-->
            <div class="col s12 m8 blue-grey lighten-5 no-padding">
                <h4 class="center-align promt-font blue-grey lighten-4 sub-about-heading">My Books</h4>

                <!--Saved Books Row-->
                <div class="row add-padding">

                     <!--Saved Books Heading-->
                    <h5 class="book-sm-heading promt-font">Saved Books</h5>
                    
                     <!--Saved Books Loop-->`
                    {% if books|length > 0 %}
					<ul>
                        {% for book in books if book.added_by|lower == username.username|lower %}
                                        
                                {% if not book.read_book == "on" %}
                                    
                                    <li>
                                        <div class="col s12 m6 l4">
                                            <div class="card horizontal user-card-style">
                                
                                                <div class="card-stacked">
                                                <!--Card Editing Buttons-->
                                                    {% if session.user == username.username %}
                                                        <div class="sub-book-edit-buttons no-display">
                                                            <a href="{{ url_for('edit_book', book_id=book._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i class="far fa-edit"></i></a>
                                                            <a href="#modal{{book._id}}" class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i class="far fa-trash-alt"></i></a>
                                                        </div>
                                                    {% endif %}
                                                    <a href="{{ url_for('book_info', book_id=book._id) }}" class="blue-grey-text text-darken-4">
                                                    <div class="card-content">
                                                        <h5>{{ book.book_title.title() }}</h5>
                                                        <p class="small-par"><strong>Author: </strong><em> {{ book.author_first_name.title() }} {{ book.author_last_name.title() }}</em> <br>
                                                        <strong>Genre: </strong> {{ book.genre.title() }}
                                                        </p>
                                                    </div>
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </li>
                                    <!-- Modal Structure -->
                                    <div id="modal{{book._id}}" class="modal">
                                        <div class="modal-content">
                                            <h4>Modal Header</h4>
                                            <p>Are you sure you want to delete {{ book.book_title.title() }}?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                        </div>
                                    </div>

                                {% endif %}

                            
                        {% else %}
                            <h5 class="center-align">No Books Added</h5>
                        {% endfor %}
                        
					</ul>
                    {% else %}
                        <h5 class="center-align">No Books Added</h5>
                    {% endif %}

                </div>

                <!--Have Read Row-->
                <div class="row add-padding">
                    <h5 class="book-sm-heading promt-font">Have Read</h5>
                    {% if books|length > 0 %}
					<ul>
                        {% for book in books if book.added_by|lower == username.username|lower %}
                            {% if book.read_book == "on" %}

                                    <li>
                                        <div class="col s12 m6 l4">
                                            <div class="card horizontal book-card-style">
                                
                                                <div class="card-stacked">
                                                        <!--Card Editing Buttons-->
                                                        {% if session.user == book.added_by %}
                                                            <div class="sub-book-edit-buttons no-display">
                                                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i class="far fa-edit"></i></a>
                                                                <a href="#modal{{book._id}}" class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i class="far fa-trash-alt"></i></a>
                                                            </div>
                                                        {% endif %}
                                                    <a href="{{ url_for('book_info', book_id=book._id) }}" class="blue-grey-text text-darken-4">
                                                    <div class="card-content">
                                                        <h5>{{ book.book_title.title() }}</h5>
                                                        <p class="small-par"><strong>Author: </strong><em> {{ book.author_first_name.title() }} {{ book.author_last_name.title() }}</em> <br>
                                                            <strong>Genre: </strong> {{ book.genre.title() }}
                                                        </p>
                                                        <p>
                                                            {% if book.rating == 1 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 2 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 3 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 4 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 5 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% endif %}
                                                        </p>
                                                        <p class="review-par">{{ book.review }}</p>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Modal Structure -->
                                    <div id="modal{{book._id}}" class="modal">
                                        <div class="modal-content">
                                            <h4>Delete Book</h4>
                                            <p>Are you sure you want to delete {{ book.book_title.title() }}?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                        </div>
                                    </div>
                            {% else %}
                                {% for review in reviews if review.added_by == username.username %}
                                    {% if review.book_id == book._id|string %}
                                    <li>
                                        <div class="col s12 m6 l4">
                                            <div class="card horizontal book-card-style">
                                
                                                <div class="card-stacked">
                                                        <!--Card Editing Buttons-->
                                                        {% if session.user == book.added_by %}
                                                            <div class="sub-book-edit-buttons no-display">
                                                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i class="far fa-edit"></i></a>
                                                                <a href="#modal{{book._id}}" class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i class="far fa-trash-alt"></i></a>
                                                            </div>
                                                        {% elif session.user != book.added_by %}
                                                            <div class="sub-book-edit-buttons no-display">
                                                                <a href="{{ url_for('add_review', book_id=book._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i class="far fa-edit"></i></a>
                                                                <a href="#modal{{review._id}}" class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i class="far fa-trash-alt"></i></a>
                                                            </div>
                                                        {% endif %}
                                                    <a href="{{ url_for('book_info', book_id=book._id) }}" class="blue-grey-text text-darken-4">
                                                    <div class="card-content">
                                                        <h5>{{ book.book_title.title() }}</h5>
                                                        <p class="small-par"><strong>Author: </strong><em> {{ book.author_first_name.title() }} {{ book.author_last_name.title() }}</em> <br>
                                                            <strong>Genre: </strong> {{ book.genre.title() }}
                                                        </p>
                                                        <p>
                                                            {% if book.rating == 1 or review.rating == 1 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 2 or review.rating == 2  %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 3 or review.rating == 3 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 4 or review.rating == 4 %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% elif book.rating == 5 or review.rating == 5  %}
                                                                <div>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            {% endif %}
                                                        </p>
                                                        <p class="review-par">
                                                            {% if book.review %}
                                                                {{ book.review }}
                                                            {% elif review.review %}
                                                                {{ review.review }}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Modal Structure -->
                                    <div id="modal{{book._id}}" class="modal">
                                        <div class="modal-content">
                                            <h4>Delete Book</h4>
                                            <p>Are you sure you want to delete {{ book.book_title.title() }}?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                        {% else %}
                            <h5 class="center-align">No Books Added</h5>
                        {% endfor %}
					</ul>
                        
                    {% else %}
                        <h5 class="center-align">No Books Added</h5>
                    {% endif %} 
                </div>
                
                {% if session.user|lower == username.username|lower %}
                <!--Add more Books Button-->
                <div class="row center-align top-space">
                    <a href="{{ url_for('add_book') }}"
                        class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>Add a New Book</i></a>
                </div>
                {% endif %}

            </div>
    </div>

    <div class="row add-padding white">
        <div class="col s12">
            <h5 class="book-sm-heading promt-font">Reviews</h5>
        </div>
        
        {% for review in reviews if review.added_by == username.username %}
                {% for newbook in books %}
                    {% if review.book_id == newbook._id|string %}
                    <ul>
                        <li>
                            <div class="col s12 m6">
                                <div class="card horizontal review-card-style">
                
                                    <div class="card-stacked">
                                        <!--Card Editing Buttons-->
                                        {% if review.added_by == username.username %}
                                        <div class="sub-book-edit-buttons no-display">
                                            <a href="{{ url_for('add_review', book_id=newbook._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i
                                                    class="far fa-edit"></i></a>
                                            <a href="#modal{{review._id}}"
                                                class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i
                                                    class="far fa-trash-alt"></i></a>
                                        </div>
                                        {% endif %}
                                        <a href="{{ url_for('book_info', book_id=newbook._id) }}" class="blue-grey-text text-darken-4">
                                            <div class="card-content">
                                                <h5>"{{ review.review_title }}"</h5>
                                                <p><strong>Book Title: </strong> {{ newbook.book_title }} <br>
                                                    <strong>Author: </strong><em>{{ newbook.author_first_name.title() }}
                                                        {{ newbook.author_last_name.title() }}</em> <br>
                                                    <strong>Genre: </strong>{{ newbook.genre.title() }}
                                                </p>
                                                <p>
                                                    {% if review.rating == 1 %}
                                                <div>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                {% elif review.rating == 2 %}
                                                <div>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                {% elif review.rating == 3 %}
                                                <div>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                {% elif review.rating == 4 %}
                                                <div>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                {% elif review.rating == 5 %}
                                                <div>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                {% endif %}
                                                {{ review.review }}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Modal Structure -->
                            <div id="modal{{review._id}}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Book</h4>
                                    <p>Are you sure you want to delete your review for {{ newbook.book_title.title() }}?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                    <a href="{{ url_for('delete_review', review_id=review._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                </div>
                            </div>
                        <br>
                    </ul>
                    {% endif %}
                {% endfor %}
        {% else %}
            <h5 class="center-align">No Reviews Added</h5>
        {% endfor %}
        
    </div>

{% endblock %}