{% extends 'base.html' %}
{% block content %}

    <!--Page Heading-->
    <div class="row center-align">
        <h3 class="main-heading-text">{{ userinfo.first_name.capitalize() }}'s Profile</h3>
    </div>

    <div class="row">

            <!--About Me Section-->
            <div class="col s12 m4 lime lighten-4">

                <!--About Me Heading-->
                <h4 class="center-align">About Me</h4>

                <!--Profile Picture-->
                <div class="image-container">
                    <img class="responsive-img profile-image" src="https://cdn3.vectorstock.com/i/1000x1000/72/32/open-book-on-white-background-vector-8107232.jpg">     
                </div>

                <!--Profile Information-->
                
                <div>
                    <p>
                        Full Name: <span class="profile-information">{{ userinfo.first_name.capitalize() }} {{ userinfo.last_name.capitalize() }}</span><br>
                        Age: <span class="profile-information"></span><br>
                        Username: <span class="profile-information">{{ userinfo.username }}</span><br>
                        Height: <span class="profile-information"></span><br>
                        Hair Color: <span class="profile-information"></span><br>
                        Favorite Book: <span class="profile-information"></span><br>
                        Favorite Author: <span class="profile-information"></span><br>
                        Favorite Genre: <span class="profile-information"></span><br>
                    </p>
                </div>
                
                
                {% if session.user|lower == userinfo.username|lower %}
                <!--Edit Button for About Me-->
				<div class="row center-align">
					<a href="#" class="btn-large edit-buttons light-green darken-2 z-depth-3"><i>Edit Info</i></a>
				</div>
                {% endif %}
            </div>
        
            <!--My Books Section-->
            <div class="col s12 m8 blue-grey lighten-5">
                <h4 class="center-align">My Books</h4>

                <!--Saved Books Row-->
                <div class="row">

                     <!--Saved Books Heading-->
                    <h5>Saved Books</h5>
                    
                     <!--Saved Books Loop-->`
                    {% if books|length > 0 %}
					<ul>
                        {% for book in books %}
                        {% if not book.read_book == "on" %}
						<li>
							<div class="col s12 m6 l4">
								<div class="card horizontal">
					
									<div class="card-stacked">
										<div class="card-content">
                                            <h5>{{ book.book_title.capitalize() }}</h5>
                                            <p>{{ book.author_first_name.capitalize() }} {{ book.author_last_name.capitalize() }}</p>
											<p>{{ book.review }}</p>
										</div>
					
									</div>
								</div>
							</div>
						</li>
                        {% endif %}
                        {% endfor %}
					</ul>
                    {% else %}
                        <h5>No Books Added</h5>
                    {% endif %}

                </div>

                <!--Have Read Row-->
                <div class="row">
                    <h5>Have Read</h5>
                    {% if books|length > 0 %}
					<ul>
                        {% for book in books %}
                        {% if book.read_book == "on" %}
						<li>
							<div class="col s12 m6 l4">
								<div class="card horizontal">
					
									<div class="card-stacked">
										<div class="card-content">
                                            <h5>{{ book.book_title.capitalize() }}</h5>
                                            <p>{{ book.author_first_name.capitalize() }} {{ book.author_last_name.capitalize() }}</p>
											<p>{{ book.review }}</p>
										</div>
					
									</div>
								</div>
							</div>
						</li>
                        {% endif %}
                        {% endfor %}
					</ul>
                    {% else %}
                        <h5>No Books Added</h5>
                    {% endif %}
                </div>
                
                <!--Add more Books Button-->
                <div class="row center-align top-space">
                    <a href="{{ url_for('add_book') }}"
                        class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>Add a New Book</i></a>
                </div>

            </div>
    </div>

    <div>
        <div class="row">
            <h4>My Recomendations</h4>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}