{% extends 'base.html' %}
{% block content %}

    <!--Page Heading-->
    <div class="row center-align">
        <h3 class="main-heading-text">Startpage</h3>
    </div>

    <div class="row">
        <!--Review Cards-->
        <div class="col s12 m6">
            <h4 class="center-align">All Reviews</h4> 

            <ul>
				<li>
					<a href="#">
						<div class="col s10 m10 offset-s1 offset-m1 no-padding">
							<div class="card horizontal light-green lighten-4">
								<div class="card-image col s4 m4 review-list-image no-padding">
									<img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg">
						        </div>
			
									<div class="card-stacked col s8 m8 no-padding">
										<div class="card-content">
											<p>Book Information</p>
										</div>
									</div>
								</div>
							</div>
					</a>
				</li>
			</ul>

            <!--Review More-->
			<div class="row center-align top-space">
				<a href="#"
					class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>See All Reviews</i></a>
			</div>
        </div>

        <!--User List-->
        <div class="col s12 m6">
            <h4 class="center-align">All Users</h4> 

            <!--User Cards-->
			<ul>
				<li>
					<a href="#">
						<div class="col s10 m10 offset-s1 offset-m1 no-padding">
							<div class="card horizontal light-green lighten-4">
								<div class="card-image col s4 m4 review-list-image no-padding">
									<img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg">
						        </div>
			
									<div class="card-stacked col s8 m8 no-padding">
										<div class="card-content">
											<p>User Information</p>
										</div>
									</div>
								</div>
							</div>
					</a>
				</li>
			</ul>

            <!--Users More-->
            <div class="row center-align top-space">
				<a href="#"
					class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>See All Users</i></a>
			</div>
        </div>
    </div>

{% endblock %}