{% extends 'base.html' %}
{% block content %}

    <!--Page Heading-->
    <div class="row center-align">
        <h3 class="main-heading-text">Startpage</h3>
    </div>

    <div class="row grey lighten-5">
        <!--Review Cards-->
        <div class="col s12 m6 no-padding">
            <h4 class="center-align sub-about-heading promt-font grey lighten-2">All Reviews</h4> 

			{% if books|length > 0 %}
			<ul>
				{% for book in books %}
				<li>
					<a href="#">
						<div class="col s10 m10 offset-s1 offset-m1 no-padding">
							<div class="card horizontal book-card-style">
                                <!--Book Image-->
								<div class="card-image col s4 m4 review-list-image no-padding">
									<img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="">
								</div>
			
									<div class="card-stacked col s8 m8 no-padding">
										<div class="card-content">
											<h5>{{ book.book_title.capitalize() }}</h5>
											<p>{{ book.author_first_name.capitalize() }} {{ book.author_last_name.capitalize() }} <br>
                                            Added By: {{ book.added_by }}
											</p>
											<p class="book-review-prev">
                                            {% if book.rating == 1 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 2 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 3 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 4 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 5 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% endif %}
                                            {{ book.review }}
                                            </p>
										</div>
									</div>
								</div>
							</div>
					</a>
				</li>
		
				{% endfor %}
			</ul>
			{% else %}
			<h5 class="center-align">No Books Added</h5>
			{% endif %}
            <!--Review More-->
			<div class="row center-align top-space">
				<a href="#"
					class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>See All Reviews</i></a>
			</div>
        </div>

        <!--User List-->
        <div class="col s12 m6 no-padding">
            <h4 class="center-align sub-about-heading promt-font grey lighten-2">All Users</h4> 

            <!--User Cards-->
			{% if all_users|length > 0 %}
			<ul>
				{% for user in all_users %}

				<li>
					<a href="{{ url_for('profile', username=user.username) }}" method="GET">
						<div class="col s10 m10 offset-s1 offset-m1 no-padding">
							<div class="card horizontal book-card-style">
                                <!--User Icon-->
								<div class="card-image col s4 m4 user-list-icon no-padding center-align">
									<i class="far fa-user"></i>
								</div>
			
									<div class="card-stacked col s8 m8 no-padding">
										<div class="card-content">
											<h5>{{ user.username }}</h5>
											<p>{{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }} <br>
                                                Date Joined: {{ user.date_joined }}
											</p>
											
										</div>
									</div>
								</div>
							</div>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<h5 class="center-align">No Users Added</h5>
			{% endif %}

            <!--Users More-->
            <div class="row center-align top-space">
				<a href="#"
					class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>See All Users</i></a>
			</div>
        </div>
    </div>

{% endblock %}