{% extends 'base.html' %}
{% block content %}

    <!--Page Heading-->
    <div class="page-heading row center-align">
        <h3 class="main-heading-text">Startpage</h3>
    </div>

    <div class="row grey lighten-5">
        <!--Review Cards-->
        <div class="col s12 m6 no-padding">
            <h4 class="center-align sub-about-heading promt-font grey lighten-2">Latest Books</h4> 

			{% if books|length > 0 %}
			<ul>
				{% for book in books %}
                {% if loop.index < 5 %}
                   
				    <li>
						<div class="col s10 m10 offset-s1 offset-m1 no-padding">
							<div class="card horizontal book-card-style blue-grey-text text-darken-4">
                            
                                <!--Book Image-->
								<div class="card-image col s4 m4 review-list-image no-padding">
									<img src="{{book.book_image}}" class="max-height" alt="">
								</div>
			        
									<div class="card-stacked col s8 m8 no-padding">
                                        <!--If the book was added by the current user the editing buttons will be displayed-->
                                        {% if session.user == book.added_by %}
                                            <div class="sub-book-edit-buttons no-display">
                                                <a href="{{ url_for('edit_book', book_id=book._id) }}" class="edit-book-button light-blue lighten-1 light-green-text text-lighten-5"><i class="far fa-edit"></i></a>
                                                <a href="#modal{{book._id}}" class="delete-book-button modal-trigger red darken-2 light-green-text text-lighten-5"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        {% endif %}
                                        <!--Link that wraps card text-->
                                        <a href="{{ url_for('book_info', book_id=book._id) }}" class="blue-grey-text text-darken-4">
										<div class="card-content">
											<h5>{{ book.book_title.capitalize() }}</h5>
											<p>{{ book.author_first_name.title() }} {{ book.author_last_name.title() }} <br>
                                            Added By: {{ book.added_by }} <br>
                                            Date Added: {{ book.date_added }}
											</p>
											<p class="book-review-prev">
                                            <!--Changes the number of stars displayed depending on the rating-->
                                            {% if book.rating == 1 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 2 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 3 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 4 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% elif book.rating == 5 %}
                                                            <div>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </div>
                                                        {% endif %}
                                                {% if book.review %}
                                                    <span class="click-rev">Click to show review</span>
                                                {% endif %}
                                            </p>
										</div>
                                        </a>
									</div>
								</div>
							</div>
                        <!-- Confirm Delete Modal -->
                        <div id="modal{{book._id}}" class="modal">
                            <div class="modal-content">
                                <h4>Delete Book</h4>
                                <p>Are you sure you want to delete {{ book.book_title.title() }}?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                    </li>
                
                {% endif %}
				{% endfor %}
			</ul>
			{% else %}
			<h5 class="center-align">No Books Added</h5>
			{% endif %}
            <!--Review More-->
			<div class="row center-align top-space">
				<a href="{{ url_for('all_books') }}"
					class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>See All Books</i></a>
			</div>
        </div>

        <!--User List-->
        <div class="col s12 m6 no-padding">
            <h4 class="center-align sub-about-heading promt-font grey lighten-2">Newest Users</h4> 

            <!--User Cards-->
			{% if all_users|length > 0 %}
			<ul>
				{% for user in all_users %}
                    {% if loop.index < 7 %}
				<li>
					<a href="{{ url_for('profile', username=user.username) }}" class="blue-grey-text text-darken-4" method="GET">
						<div class="col s10 m10 offset-s1 offset-m1 no-padding">
							<div class="card horizontal user-card-style">
                                <!--User Icon-->
								<div class="card-image col s4 m4 user-list-icon no-padding center-align">
									<i class="{{ user.user_icon }}"></i>
								</div>
			
									<div class="card-stacked col s8 m8 no-padding">
										<div class="card-content">
											<h5>{{ user.username }}</h5>
											<p>{{ user.first_name.title() }} {{ user.last_name.title() }} <br>
                                                Date Joined: {{ user.date_joined }}
											</p>
											
										</div>
									</div>
								</div>
							</div>
					</a>
				</li>
                    {% endif %}
				{% endfor %}
			</ul>
			{% else %}
			<h5 class="center-align">No Users Added</h5>
			{% endif %}
            <!--Users More-->
                <div class="row center-align top-space">
                    <a href="{{ url_for('all_users') }}"
                        class="btn-large duo-buttons light-green darken-2 z-depth-3"><i>See All Users</i></a>
                </div>

        </div>
    </div>

{% endblock %}